body {
  background: rgba(243, 148, 148, 1);
  font-family: 'Open-Sans', sans-serif;
  margin: 0;
}

form {
  background-color: #FFFEFE;
  width: 394px;
  height: 410px;
  margin: 225px auto 226px;
  padding: 72px 95px 91px 93px;
  border-radius: 10px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 49.03px;
  color: #333333;
  width: 383px;
  margin: 0 auto;
  text-align: center;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
  color: #666666;
  width: 237px;
  margin: 0 auto 47px;
  text-align: center;
}

a {
  color: #089FE0;
}

input {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 21.79px;
  background-color: #FFFFFF;
  color: #333333;
}

button {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
  background-color: #089FE0;
  color: #FFFFFF;
  width: 394px;
  height: 44px;
  border: 3px solid #FFFFFF;
  border-radius: 5px;
  padding: 9px 102px;
  margin-bottom: 22px;
}

label {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  color: #666666;
}

.username {
  width: 370.4px;
  height: 24.4px;
  border: 1px solid rgba(245, 245, 245, 1);
  border-radius: 5px;
  padding: 9px 11px 9px 11px;
  margin-bottom: 21px;
}

.username:focus, .name:focus, .lastname:focus, .email:focus {
  outline: none;
}

.container_name, .email {
  margin-bottom: 22px;
}

.name, .lastname, .email {
  background-color: #F5F5F5;
  height: 26px;
  border: none;
  padding: 9px 11px 9px 11px;
}

.name {
  width: 175.2px;
  border-right: 1px solid #FFFFFF;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.lastname {
  width: 174px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.email {
  width: 372px;
  border-radius: 5px;
}

.terms_of_use {
  width: 15px;
  height: 16px;
}
